{% extends "hyde/templates/index.html" %}

<!-- prettier ignore -->
{% block extra_head %}

<!-- prettier ignore -->
<link rel="stylesheet" href="{{ get_url(path="custom-style.css", cachebust=true)
}}" />

<!-- prettier ignore -->
{% endblock %}

<!-- prettier ignore -->
{% block content %}

<div class="posts">
    {% for page in paginator.pages %}
    <a class="post" href="{{ page.permalink }}">
        <h1 class="post-title">{{ page.title }}</h1>

        <span class="post-date"
            >{{ page.date | date(format="%B %d, %Y") }}</span
        >

        <p>{{ page.content | split(pat="\n") | first | striptags | trim_end_matches(pat=".") }}...</p>
    </a>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous %}
    <a href="{{ paginator.previous | safe }}">« Newer Posts</a>
    {% endif %}

    <!-- prettier ignore -->
    {% if paginator.next %}
    <a href="{{ paginator.next | safe }}">Older Posts »</a>
    {% endif %}
</div>

<!-- prettier ignore -->
{% endblock %}
